@import "tailwindcss";
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-zinc-200, currentColor);
	}

	button,
	[role="button"] {
		cursor: pointer;
	}
	button:disabled,
	[role="button"]:disabled {
		cursor: default;
	}
}

@theme {
	--animate-bounce-x: bounce-x 0.3s ease-out;

	@keyframes bounce-x {
		50% {
			transform: translateX(-25%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		0%,
		100% {
			transform: none;
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}
